{% extends '@account/dashboard/layout.twig' %}

{% block title "Modifier votre mot de passe" %}

{% block body %}
    <h1>
        Mise à jour de votre mot de passe
    </h1>
    <form action="{{ path('account.auth.password.update') }}" method="post">
        {{ csrf_input() }}
        {{ field_input('old', "Ancien mot de passe", null, {type: 'password'}) }}
        {{ field_input('new', "Nouveau mot de passe", null, {type: 'password'}) }}
        {{ field_input('verify', "Vérification du mot de passe", null, {type: 'password'}) }}
        <button type="submit">Modifier votre mot de passe</button>
    </form>
{% endblock %}